<h1><%= markdown_to_html @post.title %></h1>
<% if policy(@post).edit? %>
  <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
<% end %>
<% if policy(@post).destroy? %>
  <%= link_to "Delete", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete the post?"}%>
<% end %>
<p><%= markdown_to_html @post.body %></p>

<% if @comments %>
  <h3>Comments (<%= @comments.count %>)</h3>

  <% @comments.each do |c| %>
    <div class="media">
      <div class="media-left"><%= image_tag(c.user.avatar.tiny.url) if c.user.avatar? %></div>
      <div class="media-body">
        <small>
          <%= c.user.name || c.user.email %> commented <%= time_ago_in_words(c.created_at) %> ago
          <% if policy(c).destroy? %>
            | <%= link_to "Delete", [@post, c], method: :delete %>
          <% end %>
        </small>
        <p><%= c.body %></p>
      </div>
    </div>
  <% end %>
<% end %>

<% if policy(@comments).create? %>
  <%= render partial: 'comments/form', locals: { post:@post }%>
<% end %>